﻿<div id="all_posts" class="posts">
    <div class="jumbotron" toggle-slide 
         ng-repeat="post in $ctrl.allPostsService.allPosts track by post.Id">
        <div class="float-left">
            <div class="name">{{::post.FirstName}} {{::post.LastName}}</div>
            <div class="time">{{::post.Date | date:"dd.MM.yyyy о HH:mm"}}</div>
        </div>

        <div class="float-right" 
             ng-show="post.isOwner">
            <button class="btn btn-info btn-sm" role="button">Редагувати</button>
            <button class="btn btn-warning btn-sm" role="button" 
                    ng-click="$ctrl.deletePost(post.Id, $index)"
                    ng-disabled="post.buttonDeleteNotAllowed">Видалити</button>
        </div>
        <div class="clear"></div>

        <h2 class="text-center" ng-bind="post.Title"></h2>
        <div ng-bind="post.Description"></div>

        <div class="like">
            <button type="button" class="btn btn-like" 
                    ng-disabled="post.isOwner || post.ILike == false"
                    ng-click="$ctrl.putOrCleanLike($index, post.Id, true)">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;
                <span ng-bind="post.CountLikesUp"></span>
                <span ng-show="post.ILike === true"> + ваш</span>
            </button>
            <button type="button" class="btn btn-like" 
                    ng-disabled="post.isOwner || post.ILike == true"
                    ng-click="$ctrl.putOrCleanLike($index, post.Id, false)">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>&nbsp;
                <span ng-bind="post.CountLikesDown"></span>
                <span ng-show="post.ILike === false"> + ваш</span>
            </button>
        </div>


        <div class="text-center editing-popup" 
             ng-show="post.isOwner">
            <input type="text" class="form-control"
                   value="{{post.Title}}"
                   maxlength="200" minlength="2" required />
            <textarea type="text" class="form-control"
                      name="Description" id="Description"
                      rows="5"
                      ng-bind="post.Description"
                      maxlength="5000" minlength="2"
                      required></textarea>
            <button class="btn btn-primary btn-xs" role="button"
                    ng-click="$ctrl.editPost($index, $event)"  
                    ng-disabled="post.isRequestEdit">Зберегти зміни</button>
            <img ng-show="post.isRequestEdit" src="/Images/kalejdoskop.gif" class="icon" alt="Секунду..." />
            <button class="btn btn-danger btn-xs" role="button">Скасувати</button>
        </div>

    </div>
</div>

<h4 ng-if="$ctrl.allPostsService.isAllPostsDownloading" class="text-primary text-align">
    Stop! Це фініш )
</h4>

<div ng-show="$ctrl.isLoadingPosts" class="text-center">
    <img src="/Images/radar.gif" class="icon" alt="Завантаження триває..." />
</div>

<uploading-posts></uploading-posts>
