﻿<h2 class="text-info" ng-bind="$state.current.data.pageTitle"></h2>

<table class="table">
    <tr class="myitalic">
        <th>#</th>
        <th>Заголовок посту</th>
        <th>Користувач</th>
        <th>Подія</th>
    </tr>

    <tr ng-repeat="mes in $ctrl.messageService.messages track by $index" ng-class="{new: mes.IsNew}">
        <td>{{$index}}</td>
        <td ng-bind="mes.PostTitle"></td>
        <td ng-bind="mes.UserName"></td>
        <td ng-if="mes.LikeType" class="text-success">Вподобав</td>
        <td ng-if="mes.LikeType === false" class="text-danger">Не сподобав</td>
        <td ng-if="mes.LikeType == null" class="text-warning">Забрав
            <span ng-if="mes.LikeTypeOld">" вподобав"</span>
            <span ng-if="!mes.LikeTypeOld">" не сподобав"</span>
        </td>

</table>
