﻿<div id="users" class="users">
    <div class="jumbotron" ng-repeat="user in $ctrl.homeService.users track by $index">
        <div class="float-left">
            <div ng-bind-template="{{user.FirstName}} {{user.LastName}}" class="name"></div>
            <div ng-bind="user.Email"></div>
        </div>
        <div class="float-right vert-align">
            <button class="btn btn-info btn-sm" ng-hide="user.IsSignedMe || user.IsFriends || user.IsISigned" 
                    role="button" ng-click="$ctrl.signed(user.IdUser, $index)">Підписатись</button>
            <button class="btn btn-warning btn-sm" ng-show="!user.IsFriends && user.IsISigned" 
                    role="button" ng-click="$ctrl.outSigned(user.IdFriend, $index)">Відписатись</button>
            <button class="btn btn-success btn-sm" role="button"
                    ng-show="!user.IsFriends && user.IsSignedMe" 
                    ng-click="$ctrl.makeFriends(user.IdFriend, $index)">Потоваришувати</button>
            <button class="btn btn-danger btn-sm" ng-show="user.IsFriends" 
                    role="button" ng-click="$ctrl.deleteFriend(user.IdFriend, $index)">Видалити друга</button>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div ng-show="$ctrl.isLoadingUsers" class="text-center">
    <img src="Images/radar.gif" class="icon" alt="Завантаження триває..." />
</div>
