﻿form .ng-touched.ng-dirty.ng-invalid,
form .ng-touched.ng-dirty.ng-invalid {
  color: #a94442;
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

form .ng-touched.ng-dirty.ng-invalid:focus,
form .ng-touched.ng-dirty.ng-invalid:focus  {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.active {
    color: #ccffff !important;
}

.new {
    background: #eee;
}