﻿<section class="text-center">
    <button type="button" id="add" class="btn btn-success btn-sm" onclick="click_slide('add_post')">Додати пост</button>
</section>
<div class="clear"></div>

<div class="container-form" id="add_post">
    <form method="post" class="form-horizontal" role="form"
          id="addPostForm" name="addPostForm"
          ng-submit="$ctrl.addPost(addPostForm)" novalidate>
        
        <h2>Додати новий пост</h2>
        <hr />

        <div class="form-group">
            <label for="Title" class="col-md-3 control-label">Заголовок</label>
            <div class="col-md-8">
                <input type="text" class="form-control"
                       name="Title" id="Title"
                       ng-model="$ctrl.newPost.Title"
                       maxlength="200" minlength="2"
                       required />
                <div ng-messages="addPostForm.Title.$error" 
                     ng-show="addPostForm.Title.$touched && addPostForm.Title.$dirty">
                    <span class="help-block text-danger" ng-message="required">Вкажіть, будь ласка, заголовок посту.</span>
                    <span class="help-block text-danger" ng-message="minlength">Надто коротка назва посту.</span>
                    <span class="help-block text-danger" ng-message="maxlength">Будь ласка, в назві посту використовуйте не більше 200 символів</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="Description" class="col-md-3 control-label">Текст посту</label>
            <div class="col-md-8">
                <textarea type="text" class="form-control" 
                          name="Description" id="Description"
                          rows="7"
                          ng-model="$ctrl.newPost.Description"
                          maxlength="5000" minlength="2"
                          required></textarea>
                <div ng-messages="addPostForm.Description.$error"
                     ng-show="addPostForm.Description.$touched && addPostForm.Description.$dirty">
                    <span class="help-block text-danger" ng-message="required">Вкажіть, будь ласка, текст посту.</span>
                    <span class="help-block text-danger" ng-message="minlength">Надто короткий текст посту.</span>
                    <span class="help-block text-danger" ng-message="maxlength">Будь ласка, обмежтеся 5000 символів.</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-8 text-right">
                <input type="submit" class="btn btn-success"
                       value="Створити пост" 
                       ng-disabled="addPostForm.$invalid || $ctrl.IsAddingInProcess" />
                <img ng-show="$ctrl.IsAddingInProcess" src="/Images/kalejdoskop.gif" class="icon" alt="Запит опрацьовується..." />
                <button type="button" class="btn btn-warning" onclick="cancel_slide('add_post')">Сховати</button>
            </div>
        </div>
    </form>
</div>

<div id="my_posts" class="posts">
    <div class="jumbotron" toggle-slide 
         ng-repeat="my_post in $ctrl.myPostsService.myPosts track by my_post.Id">
        <div class="float-left">
            <div class="name">{{::$ctrl.myPostsService.myFLName}}</div>
            <div class="time">{{::my_post.Date | date:"dd.MM.yyyy о HH:mm"}}</div>
        </div>

        <div class="float-right">
            <button class="btn btn-info btn-sm" role="button">Редагувати</button>
            <button class="btn btn-warning btn-sm" role="button" 
                    ng-click="$ctrl.deletePost(my_post.Id, $index)"
                    ng-disabled="my_post.buttonDeleteNotAllowed">Видалити</button>
        </div>
        <div class="clear"></div>

        <h2 class="text-center" ng-bind="my_post.Title"></h2>
        <div ng-bind="my_post.Description"></div>

        <div class="text-center editing-popup">
            <input type="text" class="form-control"
                   value="{{my_post.Title}}"
                   maxlength="200" minlength="2" required />
            <textarea type="text" class="form-control"
                      name="Description" id="Description"
                      rows="5"
                      ng-bind="my_post.Description"
                      maxlength="5000" minlength="2"
                      required></textarea>
            <button class="btn btn-primary btn-xs" role="button"
                    ng-click="$ctrl.editPost($index, $event)"  
                    ng-disabled="my_post.isRequestEdit">Зберегти зміни</button>
            <img ng-show="my_post.isRequestEdit" src="/Images/kalejdoskop.gif" class="icon" alt="Секунду..." />
            <button class="btn btn-danger btn-xs" role="button">Скасувати</button>
        </div>
    </div>
</div>

<div ng-show="$ctrl.isLoadingMyPosts" class="text-center">
    <img src="Images/radar.gif" class="icon" alt="Завантаження триває..." />
</div>
