﻿@{
    ViewBag.Title = "Підтверждення e-mail";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Дякуємо за підтвердження електронної пошти<br />
        <a href="~/Account/Login?routeValues=null" id="loginLink">Увійти</a>
    </p>
</div>
