﻿@{
    ViewBag.Title = "Підтверждення паролю (якщо Ви його забули)";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Перевірте Вашу електронну скриньку, щоб скинути пароль.
    </p>
</div>

