﻿@model Part3.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Забули пароль?";
    ViewBag.Email = (Model == null) ? "" : Model.Email;
}

<h2>@ViewBag.Title</h2>

<form action="~/Account/ForgotPassword" method="post" class="form-horizontal" role="form">
    <h4>Введіть адресу електронної пошти</h4>
    <hr />

    @if (Model != null)
    {
        if (Model.ModelErrors != null)
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @foreach (string er in Model.ModelErrors)
                {
                    <p>@er</p>
                }
            </div>
        }
    }
    <div class="clear"></div>

    <div class="form-group">
        <label for="Email" class="col-md-2 control-label">Cкринька</label>
        <div class="col-md-10">
            <input type="email" name="Email" class="form-control" required="required" value="@ViewBag.Email" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-info" value="Відправити" />
        </div>
    </div>
</form>

