﻿@using Part3.Models
@model LoginViewModel
@{
    ViewBag.Title = "Вхід";
}

<h2>@ViewBag.Title</h2>

<form action="~/Account/Login?returnUrl=@ViewBag.ReturnUrl" class="form-horizontal" role="form" method="post" id="loginForm" name="loginForm" onsubmit="return validation_loginForm()">
    <h4>Використовуйте локальний обліковий запис для входу</h4>
    <hr />

    @if (Model.ModelErrors != null)
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @foreach (string er in Model.ModelErrors)
            {
                <p>@er</p>
            }
        </div>
    }
    <div class="clear"></div>

    <div class="form-group">
        <label for="Email" class="col-md-2 control-label">Cкринька</label>
        <div class="col-md-10">
            <input type="email" autofocus name="Email" id="Email" class="form-control" required value="@Model.Email"/>
            <span class="help-block"></span>
        </div>
    </div>

    <div class="form-group">
        <label for="Password" class="col-md-2 control-label">Пароль</label>
        <div class="col-md-10">
            <input type="password" name="Password" id="Password" class="form-control" required />
            <span class="help-block"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <label>
                    <input value="@Model.RememberMe" name="RememberMe" type="checkbox" />
                    Запам’ятати мене
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Увійти" class="btn btn-info" />
        </div>
    </div>

    <div class="form-group">
        <p class="col-md-offset-2 col-md-10">
            <a href="~/Account/Register">Зареєструвати нового користувача</a>
        </p>
        <p class="col-md-offset-2 col-md-10">
            <a href="~/Account/ForgotPassword">Забули пароль?</a>
        </p>
    </div>
</form>

<!--<div class="col-md-4">
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>-->
@section Scripts {
    <script type="text/javascript" src="~/Scripts/ValidLogIn.js"></script>
}
