﻿@model Part3.Models.RegisterViewModel
@{
    ViewBag.Title = "Реєстрація";
}

<h2>@ViewBag.Title</h2>

<form class="form-horizontal" role="form" 
      id="registerForm" name="registerForm" 
      ng-controller="registerController" novalidate
      action="~/Account/Register" method="post">
    <h4>Створення нового облікового запису</h4>
    <hr />

    @if (Model.ModelErrors != null)
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            @foreach (string er in Model.ModelErrors)
            {
                <p>@er</p>
            }
        </div>
    }
    <div class="clear"></div>

    <div class="form-group" ng-class="{ error: registerForm.Email.$invalid && registerForm.Email.$touched }">
        <label for="Email" class="col-md-2 control-label">Cкринька</label>
        <div class="col-md-10">
            <input type="email" ng-pattern="reg_email" name="Email" ng-model="model.Email" id="Email" class="form-control" required value="@Model.Email" />
            <div ng-messages="registerForm.Email.$error" ng-show="registerForm.Email.$touched">
                <span ng-message="required" class="help-block">Вкажіть, будь ласка, e-mail.</span>
                <span ng-message="pattern" class="help-block">Щось не схоже на e-mail.</span>
            </div>
        </div>
    </div>

    <div class="form-group" ng-class="{ error: registerForm.FirstName.$invalid && registerForm.FirstName.$touched }">
        <label for="FirstName" class="col-md-2 control-label">Ім’я</label>
        <div class="col-md-10">
            <input type="text" id="FirstName" name="FirstName" ng-model="model.FirstName" class="form-control" required value="@Model.FirstName" maxlength="60" minlength="2" pattern="[а-яa-zіїєыъэёА-ЯA-ZІЇЄЫЪЭЁ’'\s]+" />
            <div ng-messages="registerForm.FirstName.$error" ng-show="registerForm.FirstName.$touched">
                <span class="help-block" ng-message="pattern">У Вашому імені підозрілі символи.</span>
                <span class="help-block" ng-message="minlength">Використовуйте не менше 2-х символів</span>
                <span class="help-block" ng-message="maxlength">Використовуйте не більше 60-ти символів</span>
            </div>
        </div>
    </div>

    <div class="form-group" ng-class="{ error: registerForm.LastName.$invalid && registerForm.LastName.$touched}">
        <label for="LastName" class="col-md-2 control-label">Прізвище</label>
        <div class="col-md-10">
            <input type="text" id="LastName" name="LastName" ng-model="model.LastName" class="form-control" required value="@Model.LastName" maxlength="60" minlength="2" pattern="[а-яa-zіїєыъэёА-ЯA-ZІЇЄЫЪЭЁ’'\s]+" />
            <div ng-messages="registerForm.LastName.$error" ng-show="registerForm.LastName.$touched">
                <span class="help-block" ng-message="pattern">У Вашому прізвищі підозрілі символи.</span>
                <span class="help-block" ng-message="minlength">Використовуйте не менше 2-х символів</span>
                <span class="help-block" ng-message="maxlength">Використовуйте не більше 60-ти символів</span>
            </div>
        </div>
    </div>

    <div class="form-group" ng-class="{ error: registerForm.Password.$invalid && registerForm.Password.$touched }">
        <label for="Password" class="col-md-2 control-label">Пароль</label>
        <div class="col-md-10">
            <input ng-model="model.Password" ng-pattern="reg_password" type="password" id="Password" name="Password" class="form-control" required maxlength="60" minlength="6"/>
            <div ng-messages="registerForm.Password.$error" ng-show="registerForm.Password.$touched">
                <span class="help-block" ng-message="maxlength">У паролі повинно бути не більше 60-ти символів.</span>
                <span class="help-block" ng-message="minlength">У паролі повинно бути не менше 6-ти символів.</span>
                <span class="help-block" ng-message="pattern">У паролі повинна бути хоча б одна латинська літера та цифра.</span>
            </div>
        </div>
    </div>

    <div class="form-group" ng-class="{ error: (model.ConfirmPassword != model.Password) && registerForm.ConfirmPassword.$touched }">
        <label for="ConfirmPassword" class="col-md-2 control-label">Підтвердження паролю</label>
        <div class="col-md-10">
            <input type="password" name="ConfirmPassword" ng-model="model.ConfirmPassword" class="form-control" required />
            <span class="help-block" ng-show="(model.ConfirmPassword != model.Password) && registerForm.ConfirmPassword.$touched">Паролі не співпадають.</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-info" 
                   value="Зареєструвати" 
                   ng-disabled="registerForm.$invalid"/>
        </div>
    </div>
</form>

