﻿@{
    ViewBag.Title = "Підтверждення встановлення паролю";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>Ваш пароль встановлено.</p>
    <p><a href="~/Account/Login" id="loginLink">Увійти</a></p>
    <!--?routeValues=null-->
</div>
