﻿@model Part3.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Забули пароль?";
    ViewBag.Email = (Model == null) ? "" : Model.Email;
    if (Model != null)
    {
        ViewBag.Code = Model.Code;
    }
}

<h2>@ViewBag.Title</h2>
<form action="~/Account/ResetPassword" method="post" class="form-horizontal" role="form" id="resetPasswordForm" name="resetPasswordForm" onsubmit="return validationResetPasswordForm();">
    <h4>Встановлення паролю</h4>
    <hr />
    <input type="hidden" name="Code" value="@ViewBag.Code" />
    @if (!ViewBag.IsModelValid)
    {
        <div class="alert alert-info col-md-offset-2 col-md-6" role="alert" id="errors">
            @foreach (string er in ViewBag.ModelErrors)
            {
                <p>@er</p>
            }
        </div>
    }
    <div class="clear"></div>

    <div class="form-group">
        <label for="Email" class="col-md-2 control-label">Cкринька</label>
        <div class="col-md-10">
            <input type="email" name="Email" class="form-control" required="required" value="@ViewBag.Email" />
        </div>
    </div>

    <div class="form-group">
        <label for="Password" class="col-md-2 control-label">Пароль</label>
        <div class="col-md-10">
            <input type="password" name="Password" class="form-control" required="required" />
        </div>
    </div>

    <div class="form-group">
        <label for="ConfirmPassword" class="col-md-2 control-label">Підтвердження паролю</label>
        <div class="col-md-10">
            <input type="password" name="ConfirmPassword" class="form-control" required="required" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-info" value="Встановити пароль" />
        </div>
    </div>
</form>
