﻿<!DOCTYPE html>
<html  ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title ng-bind="$state.current.data.pageTitle"></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" ng-controller="headerController">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ui-sref="home" ui-sref-active="active" class="navbar-brand">ДІМ</a>
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li><a ui-sref="my-posts" ui-sref-active="active">Мої пости</a></li>
                        <li><a ui-sref="all-posts" ui-sref-active="active">Всі пости</a></li>
                        <li><a ui-sref="message" ui-sref-active="active">Сповіщення <span class="badge" id="count_messages" ng-bind="messageService.countNewMessages"></span></a></li>
                        <!--ng-bind="$ctrl.messageService.countNewMessages"-->
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – додаток ASP.NET</p>
        </footer>
    </div>

    <div id="modDialog" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick='$("#modDialog").modal("hide")'><span aria-hidden="true">&times;</span></button>
                    <h4></h4>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/main.js"></script>

    @Scripts.Render("~/bundles/angular-components")
    @Scripts.Render("~/bundles/angular-factory")
    @Scripts.Render("~/bundles/angular-home")
    @Scripts.Render("~/bundles/angular-my-posts")
    @Scripts.Render("~/bundles/angular-all-posts")
    @Scripts.Render("~/bundles/angular-message")
    @Scripts.Render("~/bundles/angular-register")
    @Scripts.Render("~/bundles/angular-base")
    @Scripts.Render("~/bundles/signalR")
    <script src="~/signalr/hubs"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
