﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <form action="~/Account/LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="~/Manage/Index" title="Manage">@User.Identity.GetUserName()</a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Вийти</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="~/Account/Login" id="loginLink">Увійти</a>
        </li>
        <li>
            <a href="~/Account/Register" id="registerLink">Реєстрація</a>
        </li>
    </ul>
}

