﻿body {
    padding-top: 50px;
    padding-bottom: 5px;
    word-wrap: break-word;
    background: url("/Images/bg.png") repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/*--MY--*/

/*general start*/
.clear {
    clear: both;
}

h2 {
    color: #24ce26;
    font-size: 160%;
}

.icon {
    height: 25px;
    width: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.jumbotron {
    background-color: rgba(232,243,243,0.5);
    border: 2px solid #E6F0F0;
    border-radius: 15px;
    padding: 1.5% 2% 1.7% 2%;
    margin: 20px auto 25px;
    box-shadow: 2px 2px 3px #839BA7;
}

.name {
    color: #2850af;
    font-weight: bold;
}
/*general finish*/


/*header start*/
#count_messages {
    background-color: #0054af;
    color: #eee;
}
/*header finish*/


/*home start*/
.users {
    font-size: 16px;
}

.time {
    color: #999;
}

.vert-align {
    line-height: 45px;
}
/*home finish*/


/*posts start*/
.posts {
    font-size: 15px;
}

.time {
    color: #888;
}

section {
    margin-top: 10px; 
    margin-bottom: 20px;
}

.container-form {
    display: none;
    margin: 0 auto 15px;
    border: 2px dotted #ccc;
    border-radius: 6px;
    width: 70%;
    padding: 4px 20px;
}

.editing-popup {
    display: none;
    margin: 10px auto 5px;
}

.editing-popup textarea{
    margin: 5px auto 10px;
}

@media (max-width: 600px) {
    .container-form {
        width: 90%;
    }
}

.container-form input,
.container-form textarea,
.editing-popup input,
.editing-popup textarea {
    max-width: none;
}

.btn-like {
    background-color: transparent; 
    color: #009086;
    padding: 6px;
}
/*posts finish*/







